@import "variables.scss";
.footer {
    background-color: $color;
    padding-top: 100px;
    padding-bottom: 130px;
    .footer-wrapper {
        align-items: $center;
    }
    &-width {
        width: 400px;
    }
    &-mav {
        justify-content: flex-start;
    }
    &-link {
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        margin-right: 47px;
        text-decoration: none;
    }
    .social-networks {
        justify-content: $center;
        a {
            display: inline-block;
            margin-right: 20px;
        }
    }
    &-mav {
        display: $flex;
        flex-wrap: nowrap;
        justify-content: $center;
    }
    &-link:last-of-type,
    .social-networks a:last-of-type {
        margin-right: 0;
    }
    .w-h {
        width: 25px;
        height: 25px;
    }
    .social-vk {
        background-image: url(../images/vk.png);
    }
    .social-insta {
        background-image: url(../images/insta.png);
    }
    &-number {
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        &::before {
            content: '';
            background-image: url(../images/footer_phone.png);
            background-size: $cover;
            display: inline-block;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
    }
    &-phone {
        text-align: right;
    }
}