html(lang="en")
  head
    meta(charset="utf-8")
    link(rel='stylesheet' href='../build/styles/normalize.css')
    link(rel='stylesheet' href='../build/fonts/stylesheet.css')
    link(rel='stylesheet' href='../build/styles/style.css')
    title= "Breakable-Ecology"
  body
  include ../modules/header.pug
  main
    include ../modules/breadcrumbs.pug
    include ../modules/back.pug
    include ../modules/content.pug
    include ../modules/pagination.pug
  include ../modules/footer.pug